$header-background-url: url("../img/m-h-day.jpg");
$btn-background: #689901;
$section-background: white;
$banner-background: linear-gradient(45deg, #69980C, #295ADD);
$font-colors: (
    header-font-color: #2C2F3E,
    welcome-color: #2C2F3E,
    banner-heading: #2C2F3E
);