$header-background-url: url("../img/m-h-night.jpg");
$btn-background: #E2AC01;
$section-background: #21232F;
$banner-background: linear-gradient(90deg, #E2A902, #932D52);
$font-colors: (
    header-font-color: white,
    welcome-color: white,
    banner-heading: white
);